#bookmark {
    font-size: 2rem;
}

.pay {
    font-size: 1rem;
}

#careerCardImg {
    object-fit: cover;
}

.text-container {
    position: relative;
    color: white;
}

.bottom-left {
    position:absolute;
    bottom: 8px;
    left: 16px
}

#newUser {
    border-style: none none solid none;
}

#profileIcon {
    font-size: 5rem;
}