/*nav bar*/
#navLogo {
  width: 60%;
  height: 60%;
}

.bg1 {
  background-color: #306EA5;
}

.bg2 {
  background-color: #30a567;
}

.title {
    font-size: 1em;
    font-family: 'Julius Sans One', sans-serif;
}

.aboutTitle, #underConText, .support {
    font-family: 'Julius Sans One', sans-serif;
}

.aboutText, #subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
}

.navBorder {
  border: 5px solid #035928;
}

.navbar-light .navbar-nav .nav-link {
  color: #035928
}

.navText {
  color: rgba(0,0,0,.55);
}

@media (max-width: 1200px) {
  #navbarText {
    /*font-family: 'Cabin Condensed', sans-serif;*/
    font-size: 1.5rem;
  }
}
@media (min-width: 1201px) {
  #navbarText {
    /*font-family: 'Cabin Condensed', sans-serif;*/
    font-size: 2rem;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    content: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #035928;
}

/*footer*/

#footerLogo {
  width: 10rem;
  height: 7rem;
}

.footerBG {
  background-color: white;
}

/* construction.html*/
.bgImg {
    background-image: url(../pics/nature_new.jpg);
    opacity: 0.8;
    height: 960px;
}

  /* smartphone on index.html (from w3schools.com)*/

  .smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 330px;
    height: 520px;
    background: white;
  }