.title {
    font-size: 3em;
    font-family: 'Julius Sans One', sans-serif;
}

.aboutTitle, #underConText {
    font-family: 'Julius Sans One', sans-serif;
}

.aboutText, #subtitle {
    font-family: 'Montserrat', sans-serif;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    content: none;
}

.bgImg {
    background-image: url(../pics/nature_new.jpg);
    opacity: 0.8;
    height: 960px;
}

#navbarText {
    /*font-family: 'Cabin Condensed', sans-serif;*/
}

/*card flip on Teams page*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }